-
  const mock = [
    {
      caption: "Мультфильмы",
      yearStart: "1980",
      yearEnd: "1986",
      arr: [
        {
          year: "1980",
          text: "Премьера мультфильма «Ёжик в тумане» Юрия Норштейна",
        },
        {
          year: "1981",
          text: "Выход первого мультфильма о коте Леопольде",
        },
        {
          year: "1982",
          text: "Премьера мультсериала «Смурфики»",
        },
        {
          year: "1983",
          text: "Выход мультфильма «Тайна третьей планеты»",
        },
        {
          year: "1984",
          text: "Премьера мультсериала «Черепашки-ниндзя»",
        },
        {
          year: "1985",
          text: "Выход мультфильма «Замок в небе» Хаяо Миядзаки",
        },
        {
          year: "1986",
          text: "Премьера мультсериала «Остров сокровищ»",
        },
      ]
    },
    {
      caption: "Кино",
      yearStart: "1987",
      yearEnd: "1991",
      arr: [
        {
          year: "1987",
          text: "«Хищник»/Predator",
        },
        {
          year: "1988",
          text: "«Кто подставил кролика Роджера»",
        },
        {
          year: "1989",
          text: "«Назад в будущее 2»",
        },
        {
          year: "1990",
          text: "«Крепкий орешек»",
        },
        {
          year: "1991",
          text: "«Семейка Аддамс»",
        },
      ]
    },
    {
      caption: "Литература",
      yearStart: "1992",
      yearEnd: "1997",
      arr: [
        {
          year: "1992",
          text: "Нобелевская премия по литературе Дерек Уолкотт",
        },
        {
          year: "1993",
          text: "«Бессонница» роман Стивена Кинга",
        },
        {
          year: "1994",
          text: "Нобелевская премия по литературе Шеймас Хини",
        },
        {
          year: "1995",
          text: "Выход романа «Чапаев и Пустота» Виктора Пелевина",
        },
        {
          year: "1996",
          text: "Публикация «Generation П» Виктора Пелевина",
        },
        {
          year: "1997",
          text: "Выход первой книги о Гарри Поттере «Философский камень»",
        },
      ]
    },
    {
      caption: "Культура",
      yearStart: "1999",
      yearEnd: "2004",
      arr: [
        {
          year: "1999",
          text: "премьера балета «Золушка»",
        },
        {
          year: "2000",
          text: "возобновлено издание журнала «Театр»",
        },
        {
          year: "2001",
          text: "премьера трилогии Тома Стоппарда",
        },
        {
          year: "2002",
          text: "Открытие музея современного искусства «Гараж» в Москве",
        },
        {
          year: "2003",
          text: "Премьера мюзикла «Нотр-Дам де Пари» в России",
        },
        {
          year: "2004",
          text: "Открытие музея-заповедника «Царицыно» после реконструкции",
        },
      ]
    },
    {
      caption: "Музыка",
      yearStart: "2005",
      yearEnd: "2009",
      arr: [
        {
          year: "2005",
          text: "Выход альбома «Confessions on a Dance Floor» Мадонны",
        },
        {
          year: "2006",
          text: "Премьера оперы «Дети Розенталя» Леонида Десятникова",
        },
        {
          year: "2007",
          text: "Выход альбома «Back to Black» Эми Уайнхаус",
        },
        {
          year: "2008",
          text: "Coldplay выпускают альбом «Viva la Vida or Death and All His Friends»",
        },
        {
          year: "2009",
          text: "Смерть Майкла Джексона, всемирный траур",
        },
      ]
    },
    {
      caption: "Наука",
      yearStart: "2015",
      yearEnd: "2022",
      arr: [
        {
          year: "2015",
          text: "13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды",
        },
        {
          year: "2016",
          text: "Телескоп «Хаббл» обнаружил самую удалённую из всех обнаруженных галактик, получившую обозначение GN-z11",
        },
        {
          year: "2017",
          text: "Компания Tesla официально представила первый в мире электрический грузовик Tesla Semi",
        },
        {
          year: "2018",
          text: "Запуск космического телескопа TESS для поиска экзопланет",
        },
        {
          year: "2019",
          text: "Первое изображение тени чёрной дыры от Event Horizon Telescope",
        },
        {
          year: "2020",
          text: "Разработка вакцин против COVID-19 в рекордные сроки",
        },
        {
          year: "2021",
          text: "Первый полёт вертолёта Ingenuity на Марсе",
        },
        {
          year: "2022",
          text: "Запуск космического телескопа Джеймса Уэбба и получение первых снимков",
        },
      ]
    },
  ]

section.main-slider
  h2.h2.main-slider__caption
    span.main-slider__caption-start=mock[0].yearStart
    span.main-slider__caption-end=mock[0].yearEnd
  .main-slider__pagination-value-row
    span.main-slider__pagination-value 06
    |/
    span.main-slider__pagination-sum 06
  .main-slider__row-btn
    button.main-slider__btn-next(type="button")
      +svg("left",7,13)
    button.main-slider__btn-prev(type="button")
      +svg("right",7,13)
  .swiper-container.main-slider__swiper-container
    .swiper-wrapper.main-slider__swiper-wrapper
      each item in mock
        +card-slider(item).swiper-slide.main-slider__swiper-slide(data-year-start=item.yearStart, data-year-end=item.yearEnd)
  .main-slider__block-pagination
    .main-slider__pagination
      each item,index in mock
        span.main-slider__bullet
          span.main-slider__current=index+1
          span.main-slider__pagination-label=item.caption
